.section1, .section2, .section3, .section4, .section5, .section6{
    visibility: hidden;
}
.caixa-scroll, .footer-scroll{
    visibility: hidden;
}
.header-scroll, .caixa-scroll-surgi{
    visibility: hidden;
}