@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap'); 

main{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
}
#home{
    padding: 65px 0;
    width: 100%;
    background: url("../../imgs/img-inicio1.jpg");
    background-size: cover;
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: space-between  ;
}
.home-caixa-conteudo{
    width: 100%;  
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}   
.img-eu img{
    width: 400px;
    height: 400px;  
    margin-right: 50px;
    background-color: rgba(0, 0, 255, 0);
    display: flex;
    align-items: center;    
}
.conteudo-home{
    width: 50%; 
    margin: 100px 0 100px 50px;

}
.conteudo-home h1{   
    font-size: 2.8em;
    font-weight: 300;
    margin: 20px 0;
}
.conteudo-home p{
    font-size: 1.3em;
    font-weight: 400;
}

#about{
    width: 100%;
    background-color: #f0f0f0;
    padding-bottom: 100px;
}       
.caixa-inicio{
    width: 50%;
    padding: 50px 0 0 50px;
}
.title-section{
    font-size: 2.6em;
    width: max-content;
    font-weight: 300;
    margin-bottom: 20px;
    border-bottom: 3px solid #010D26;
}       
.txt-section{
    font-size: 1.3em;
    font-weight: 400;   
    margin-bottom: 40px;    
}
.about-container{
    display: flex;
}   
.about-container h1{
    font-size: 2.1em;
    font-weight: 300;
    margin-bottom: 20px;
}   
.about-container p{
    font-size: 1.2em;
    font-weight: 400;   
    margin-bottom: 10px;
}   
.about-caixa{
    width: 50%;
    margin: 0 30px;
    padding: 50px 20px;
    box-shadow:  11px 11px 22px #acacac,
                -11px -11px 22px #ffffff;  
}
.about-caixa ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}
.about-caixa li{
    font-size: 1.2em;
    font-weight: 400;  
    width: max-content;
    background-color: #9FBCBF;
    margin: 0 17px 17px 0;
    padding: 10px 20px;
}

#projects{
    padding: 100px 0;
    background-image: linear-gradient(to bottom, #f0f0f0, #C5D7D9);
}
.container-projetos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

#contact{
    background-color: #C5D7D9;
    width: 100%;
}
.formulario{
    padding-left: 50px;
}
.container-contacts{
    display: flex;
    display: flex;
    justify-content: space-around;
}
.contacts{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.contacts p{
    color: #010d26ce;
    font-weight: 400;
    font-size: 1.1em;
    margin-bottom: 15px;
}
.info-contacts{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.info-contacts h3{
    font-size: 1.2em;
    color: #010d26e0;
}
.info-contacts img{
    width: 36px;
    height: 36px;
    margin-right: 15px;
    background-color: #5d878c67;
    padding: 8px;
    border-radius: 50%;
}

footer{
    width: 100%;
    background-color: #0f0f0f;
    color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 0;
}

footer h1{
    font-family: "Indie Flower", cursive; 
    font-size: 1.8em;
    letter-spacing: 3px;
}
.links-socia-rodape img{
    width: 35px;
    height: 35px;
    margin: 5px 0;
}
.links-socia-rodape img:hover{
    background: #3535353d;
}
.link-navegar{
    margin: 5px 7px;    
}
.p-fim{
    margin-top: 10px;
    color: #fdfdfda8;
    font-family: Arial, Helvetica, sans-serif;
}